[Unit]
Description=Metasploit RPC and web daemons
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart={{ config.directory }}/ctlscript.sh start
ExecStop={{ config.directory }}/ctlscript.sh stop

[Install]
WantedBy=multi-user.target
