[Unit]
Description=Metasploit RPC and web daemons
Wants=network-online.target

[Service]
Type=forking
PIDFile={{ config.directory }}/apps/pro/ui/log/thin.pid
ExecStart={{ config.directory }}/ctlscript.sh start
ExecStop={{ config.directory }}/ctlscript.sh stop

[Install]
WantedBy=multi-user.target
